
#logo{
    font-family:Montserrat,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 440;}
    #logo:hover{
        color:#ffa5af ;
        transition: all .2s ease;
        }
/*<uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 100 to 900*/

body{
    margin-top: 70px;
    scroll-behavior: smooth;
    font-family:Montserrat,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.ar{
    direction: rtl;
}
#cart{
    max-width: 24px;
    max-height: 24px;
    cursor: pointer;
}
#wishlist{
    max-width: 24px;
    max-height: 24px;
    cursor: pointer;
}
#wl-remove-item{
    max-width: 24px;
    max-height: 24px;
    cursor: pointer;
}

#insta{
    border: 1px solid;
    border-radius: 1px;
    background-color:#ffa5af;
    border-radius: 8px;
    text-decoration: none;
    padding: 5px;
    border-color:transparent;
    text-align: center;
} 
#insta:hover{
    opacity: .95;
}
#insta span{
    color:white
    
}
#insta i{
    text-align:end;
    font-size: 1.55em;
    color:#E1306C;
}
/* .spinner-wrapper{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
} */
#navbar li{
padding:5px;
}
#search-box,#prod-search{
    border: 1px solid #ffa5af;
    border-radius: 5px 0px 0px 5px;
    border-right:none ;
}
/* #search-box:focus{
    width: 25em;
    } */
     main{
        height: 100%;
        width: 100%;
        position: relative;
     }
     main .ring-image img{
        position:absolute;
        width:150px;
        right:20%;
        margin-bottom: 100px;
     }
     main h1{
        margin-left:7%;
        margin-top: 120px;
        size: 2.1rem;
        letter-spacing: 3px;
        z-index: 100;
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
        
        white-space: nowrap;
        /* color:#ffa5af; */
     }
     main h2{
        margin-left: 7%;
        /* margin-top:10px ; */
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 1.3rem;

     }
     main p{
        margin-left: 7%;
        /* margin-top:170px; */
        margin-right: 20px;
        opacity: .7;
        width: 400px;
     }
     main #shop-btn{
        color:#ffa5af;
        margin-left:7%;
        margin-top:6px;
        padding:8px 10px;
        font-size:1.2rem;
        /* text-transform: uppercase; */
        border-radius: 2px;
     /* background-color: #ffa5af; */
color:#ffa5af;
        border:1px solid ;
        cursor: pointer;
        transition: 0.3s ease ;
        position: relative;
        overflow: hidden;
     }
     main #shop-btn::before{
        content: '';
        position: absolute;
        left:0;
        top:0;
        width:0%;
        height:100%;
        transition: all .3s;
        background-color: #ffa5af;
        z-index: -1;
        translate: translateX(-100%);
     }
     main #shop-btn:hover{
        background-color:#ffa5af;
        color:white;
     }

      main #shop-btn:hover::before{
        color:#ffa5af;
        transform:translateX(0);
        width:100%;
      }
      main .ring-image #main-img1{
        animation: slider 60s linear infinite;
        /* background-size:cover ;
        width: 450px ;
        height: 450px;
        position: absolute;
        top: 25%;
        left:55%;  */
        /* transform:scale(1); */
        transition:0.3s;
      }
      @keyframes slider {
        0%{
            content:url( '../images/daisy-ring.webp');
        }
        25%{
         content:url( '../images/Dream-Catcher-Bracelet.webp');
  
        }
        75%{
           content: url('../images/fish-tail-necklace (1).webp');

        }        
        100%{
            content: url('../images/floral-earrings.webp');
 
        }
      }
#sbtn{
        border: 1px solid #ffa5af;
    
        border-radius: 0px 5px 5px 0px;
        border-left: none;
    
    }
#sbtn i{
        color:#ffa5af;
    }
    
#sbtn:hover{

        background-color: #ffa5af;
    }
  #sbtn:hover i{
    color:white;
  }
#Notifications{
    display: inline-block;
    padding: 15px;
}
#NotifNum{
    font-family: Teko;

}
#slider-img{
    max-width: 2000px;
    max-height:700px;
}
.about-us{
    margin-bottom: 200px;
    /* margin-left: 1%; */
    background: url('../images/logo.png') no-repeat;
   
   
}
#brand-logo{
margin: auto;
width: 35%;
height: 35%;
}
/* #brand-title{
    color: #ffa5af;

} */
#about-us-title{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    
}
#about-us-subtitle{
    font-size: 1.4em;
    /* color: #f5eff0; */

}
#about-us-p{

    font-size:1rem;
   
}
#about-us-paragraph{
    /* display: block;/* or inline-block */
     /* text-overflow:clip;
    word-wrap: break-word;
    overflow:visible;
    max-height: 4em;
    line-height: 2em;
    line-clamp: 3;  */
    /* /* white-space: pre-wrap; */
    font-family:Montserrat,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

    /* color:white; */

}
.card{
    width: 16rem;
}
#about-us-img{
float: right;
max-width:65% ;
margin-top: -190px;


}
#Products-title{
 text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.Products{
    margin-bottom:200px ;
    margin-left:1%;
}
#footer-link{
    text-decoration: none;
}
.social_media a{
padding: 5px;
font-size: 1.1em;
}
/*Notification side styles*/
/*notification li style*/
#notif-li:hover{
background-color: rgba(50, 53, 194, 0.1);
transition: .1 ease;
}
.new-prods-notif{
    max-height: 55px;
    max-width: 55px;
}
#fp-submit{
    border: 1px solid #ffa5af;
    color: #fff;
    background-color: #ffa5af;
}
#chat-container{
    position: fixed;
    right: 3%;
    bottom: 9%;
    /* right: 0; */
    /* top:0; */
    /* width: 30px;
    height: 30px; */
    border: 1px solid #ffa5af;
    border: 30px;
    background-color: #ffa5af;
  


} 
#back-to-top{
    position: fixed;
    top:10%;
    right: 3%;
    bottom: 9%;
    /* right: 0; */
    /* top:0; */
    /* width: 30px;
    height: 30px; */
    border: 1px solid #ffa5af;
    border: 30px;
    background-color: #ffa5af;
}
.checkbox{
    opacity: 0;
    position: absolute;
    display: none !important;
}
.checkbox-label{
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-moon{color:#f1c40f}
.fa-sun{color:#f39c12}
.checkbox-label .ball{
background-color: #fff;
width: 22px;
height: 22px;
position: absolute;
left:2px;
top:2px;
border-radius: 50%;
transition: transform 0.2s linear;
}
.checkbox:checked + .checkbox-label .ball{
    transform: translateX(24px);
}
.checkbox{display: none;}
#remove{
    max-width: 24px;
    max-height: 24px;
    cursor: pointer;
}
#cart-quantity{
    max-width:3em
}
#notif-logo{
    max-width: 35px;
    max-height: 35px;
}
#nav-btn{
    border: none;
}
/* #cart-quantity{
max-width: 3em;
/* max-height: 3em; */

/* #card-quantity->.input-group-text{
    max-width: 60px;
    max-height: 60px;
} */

/* #fp-submit:hover{
    background-color: #ffa5af;
    color:white;
} */
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.wish{
    background-color: white;
    color:#F564A9;
    border-color:#F564A9;
}
.wish:hover{
    color:white;
    background-color: #F564A9;
        border-color:white;

}
.wish:hover:active{
    color:white;
    background-color: #F564A9;
    border-color: #F564A9;
    
}

section ,div ,h1{
    animation: appear 5 linear;
}
 
@media (max-width:950px) {
    *{
        font-size: 17px;
    }
    .about-us{
        font-size:0.9em;
    }
    #about-us-img{
        margin-top: 1px;
        max-width: 120px;
        max-height: 120px;
    }
    main h1{
        margin-left:5%;
        margin-top: 100px;
        size: 0.6rem;
        letter-spacing: 3px;
        z-index: 100;
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
        
        white-space: nowrap;
    }
         main h2{
        margin-left: 5%;
        /* margin-top:10px ; */
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 400;
        font-size: 1rem;

     }

    main p{
         margin-left: 5%;
        /* margin-top:170px; */
        margin-right: 15px;
        opacity: .7;
        width: 350px;
    }
    main .ring-image img{
        position:absolute;
        width:120px;
        right:6%;
        margin-bottom: 100px;
     }
    #about-us-paragraph{
        display: block;/* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 2em;
        line-height: 1em;
    }
    button{
        font-size:0.9rem;
    }
    row{
        padding: 10em;
    }
    .card{
        width: 12.5rem;
    }
   
    
}

@media (max-width:850px) {
    *{
        font-size: 13px;
    }
    .about-us{
        font-size:0.9em;
    }
    #about-us-img{
        margin-top: 1px;
        max-width: 120px;
        max-height: 120px;
    }
    main h1{
        margin-left:5%;
        margin-top: 100px;
        size: 0.6rem;
        letter-spacing: 3px;
        z-index: 100;
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
        
        white-space: nowrap;
    }
         main h2{
        margin-left: 5%;
        /* margin-top:10px ; */
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 400;
        font-size: 1rem;

     }

    main p{
         margin-left: 5%;
        /* margin-top:170px; */
        margin-right: 15px;
        opacity: .7;
        width: 350px;
    }
    main .ring-image img{
        position:absolute;
        width:120px;
        right:6%;
        margin-bottom: 100px;
     }
    #about-us-paragraph{
        display: block;/* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 2em;
        line-height: 1em;
    }
    button{
        font-size:0.9rem;
    }
    /* row{
        padding: 10em;
    } */
    .card{
        width: 12.5rem;
    }
    
}
@media (max-width:750px) {
    *{
        font-size: 12px;
    }
    .about-us{
        font-size:0.9em;
    }
    #about-us-img{
        margin-top: 1px;
        max-width: 120px;
        max-height: 120px;
    }
    main h1{
        margin-left:5%;
        margin-top: 100px;
        size: 0.6rem;
        letter-spacing: 3px;
        z-index: 100;
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
        
        white-space: nowrap;
    }
         main h2{
        margin-left: 5%;
        /* margin-top:10px ; */
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 400;
        font-size: 1rem;

     }

    main p{
         margin-left: 5%;
        /* margin-top:170px; */
        margin-right: 15px;
        opacity: .7;
        width: 350px;
    }
    main .ring-image img{
        position:absolute;
        width:120px;
        right:6%;
        margin-bottom: 100px;
     }
    #about-us-paragraph{
        display: block;/* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 2em;
        line-height: 1em;
    }
    button{
        font-size:0.9rem;
    }
     .card{
        width: 12.5rem;
    }
    
}
@media (max-width:550px) {
    *{
        font-size: 14px;
    }
    main{
        font-size:0.9em;
    }
     main h1{
        margin-left:3%;
        margin-top: 90px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        z-index: 100;
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
        
        white-space: nowrap;
    }
     main h2{
        margin-right: 3%;
        /* margin-top:10px ; */
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 400;
        font-size: 1rem;

     }

    main .ring-image img{
        position:absolute;
        width:9em;
        height :9em;
    left:70%;
        margin-bottom: 100px;
     }
    main p{
         margin-right: 3%;
        /* margin-top:170px; */
        /* margin-right: 15px; */
        opacity: .7;
        width: 180px;
        font-size: 1.1rem;
    }
    button,a{
        font-size:0.9rem;
         /* width:1.1em;  */
    }
    a{
        font-size:0.7em;
        width:5rem;
        height: 4rem;
    }
    .card-img{
        width :1em;
    }
}
@media (max-width:400px) {
    *{
        font-size: 1px;
    }
    main{
        font-size:0.9em;
    }
     main h1{
        margin-left:3%;
        margin-top: 90px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        z-index: 100;
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
        
        white-space: nowrap;
    }
     main h2{
        margin-right: 3%;
        /* margin-top:10px ; */
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 400;
        font-size: 1rem;

     }

    main .ring-image img{
        position:absolute;
        width:9em;
        height :9em;
    left:70%;
        margin-bottom: 100px;
     }
    main p{
         margin-right: 3%;
        /* margin-top:170px; */
        /* margin-right: 15px; */
        opacity: .7;
        width: 180px;
        font-size: 1.1rem;
    }
    button,a{
        font-size:0.9rem;
         /* width:1.1em;  */
    }
    a{
        font-size:0.7em;
        width:5rem;
        height: 4rem;
    }
    .card-img{
        width :1em;
    }
}
@media (max-width:250px) {
    *,body{
        font-size: 9px;
    }
    main{
        font-size:0.9em;
    }
    main .main-ring{
        margin-top: 1px;
        max-width: 80px;
        max-height: 80px;
    }
    main h1{
        margin-left:0%;
        margin-top: 60px;
        size: 0.6rem;
        /* letter-spacing: px; */
        z-index: 100;
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
        
        white-space: nowrap;
    }
     main h2{
        margin-left: 0%;
        /* margin-top:10px ; */
        text-transform: uppercase;
        /* letter-spacing: 1.3px; */
        font-weight: 400;
        font-size: 0.6rem;

     }

    main p{
         margin-left: 0%;
        /* margin-top:170px; */
        margin-right: 10px;
        opacity: .7;
        width: 250px;
    }
    .card-img{
        height: 40%;
    }
    button{
        font-size:0.9rem;
    }
    a{
        font-size:0.7em;
        width:5rem;
        height: 4rem;
    }
}
/* @media  (max-width:360px){
body{
    font-size: 0.8em;
    margin-top: 0.7em;

}
#logo{
    font-size:1.2em;

}
#navbar{
    position: fixed;
  
   
}
#toggler{
    position: relative;
    left:19%;
    top:19%;
    bottom:10%
}
#Products-title{
    font-size: 1.2rem;
}
#about-us-title{
    font-size:1.2rem;
}
#about-us-subtitle{
    font-size: 0.9rem;
}
#about-us-p{
    font-size:1.1em;
}
#about-us-img{
    float: right;
    width:45% ;
margin-top: 0.8rem;
}
#shop{
   font-size:0.9em
}
#prodct{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
   /* align-items: center; */
/* } */

/* } */ 