
#logo{
    font-family:Jomolhari;
}
/*<uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 100 to 900*/

body{
    margin-top: 70px;
    scroll-behavior: smooth;
}
/* .spinner-wrapper{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
} */
#navbar li{
padding:5px;
}
#search-box{
    border-radius: 5px 0px 0px 5px;
    border-right:none ;
}
#search-box:focus{
    width: 25em;
    }
#sbtn{
    border-radius: 0px 5px 5px 0px;
    border-left: none;

}

#Notifications{
    display: inline-block;
    padding: 15px;
}
#NotifNum{
    font-family: Teko;

}
#slider-img{
    max-width: 2000px;
    max-height:700px;
}
.about-us{
    margin-bottom: 200px;
    margin-left: 1%;
}
#about-us-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
#about-us-subtitle{
    font-size: 25px;
}
#about-us-p{
    font-size:20px;
}
#about-us-img{
float: right;
width:25% ;
margin-top: -220px;


}
#Products-title{
 text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.Products{
    margin-bottom:200px ;
    margin-left:1%;
}
#footer-link{
    text-decoration: none;
}
.social_media a{
padding: 5px;
font-size: 1.1em;
}


/* @media  (max-width:360px){
body{
    font-size: 0.8em;
    margin-top: 0.7em;

}
#logo{
    font-size:1.2em;

}
#navbar{
    position: fixed;
  
   
}
#toggler{
    position: relative;
    left:19%;
    top:19%;
    bottom:10%
}
#Products-title{
    font-size: 1.2rem;
}
#about-us-title{
    font-size:1.2rem;
}
#about-us-subtitle{
    font-size: 0.9rem;
}
#about-us-p{
    font-size:1.1em;
}
#about-us-img{
    float: right;
    width:45% ;
margin-top: 0.8rem;
}
#shop{
   font-size:0.9em
}
#prodct{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
   /* align-items: center; */
/* } */

/* } */ 