

    #logo{
        font-family:Montserrat,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 440;
        
    }
    #logo:hover{
        color:#ffa5af ;
        transition: all .2s ease;
        }

/*<uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 100 to 900*/

body{
    direction: rtl;   
    margin-top:70px;
  
}
 #insta{
    border: 1px solid;
    border-radius: 1px;
    background-color:#ffa5af;
    border-radius: 8px;
    text-decoration: none;
    padding: 5px;
    border-color:transparent;
    text-align: center;
} 
#insta:hover{
    opacity: .95;
}
#insta span{
    color:white
    
}
#insta i{
    text-align:end;
    font-size: 1.55em;
    color:#E1306C;
}

.logo{
    font-family:Jomolhari;
    
}

#navbar-ar li{
padding:5px;

}
#search-box{
    border: 1px solid #ffa5af;
    border-radius: 0px 5px 5px 0px;
    border-left:none ;
}
#search-box:focus{
    width: 25em;
    }
#sbtn{
    border: 1px solid #ffa5af;

    border-radius: 5px 0px 0px 5px;
    border-right: none;

}
#sbtn i{
    color:#ffa5af;
}
#Notifications{
    display: inline-block;
    padding: 0px;
    margin: 1%;
}
.new-prods-notif{
    max-height: 55px;
    max-width: 55px;
}
#NotifNum{
    font-family: Teko;

}
#slider-img{
    max-width: 2000px;
    max-height:700px;
}
.about-us-ar{
    direction: rtl;
}
.about-us{
    margin-bottom: 200px;
    margin-left: 1%;
}
#about-us-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
#about-us-subtitle{
    font-size: 25px;
}
#about-us-p{
    font-size:20px;
}
#about-us-img{
float: left;
width:25% ;
margin-top: -220px;


}

#Products-title{
    text-align: center;
       font-size: 50px;
       font-weight: bold;
   }
   .Products{
       margin-bottom:200px ;
       margin-left:1%;
   }
   #footer-link{
       text-decoration: none;
   }
   .social_media a{
   padding: 5px;
   font-size: 1.3em;
   }
   
    @media  (max-width:360px){
    body{
        font-size: 0.8em;
        margin-top: 0.7em;}
    #logo{
        font-size:1.2em;
    
    }
    #navbar{
        position: fixed;
      
       
    }
    #toggler{
        position: relative;
        left:19%;
        top:19%;
        bottom:10%
    }
    #Products-title{
        font-size: 1.2rem;
    }
    #about-us-title{
        font-size:1.2rem;
    }
    #about-us-subtitle{
        font-size: 0.9rem;
    }
    #about-us-p{
        font-size:1.1em;
    }
    #about-us-img{
        float: right;
        width:45% ;
    margin-top: 0.8rem;
    }
    #shop{
       font-size:0.9em
    }
}

