

    #logo{
        font-family:Jomolhari;
    }

/*<uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 100 to 900*/

body{
    direction: rtl;   
    margin-top:70px;
  
}
.logo{
    font-family:Jomolhari;
    
}

#navbar-ar li{
padding:5px;

}
#search-box{
    border-radius: 0px 5px 5px 0px;
    border-left:none ;
}
#search-box:focus{
    width: 25em;
    }
#sbtn{
    border-radius: 5px 0px 0px 5px;
    border-right: none;

}
#Notifications{
    display: inline-block;
    padding: 0px;
    margin: 1%;
}
#NotifNum{
    font-family: Teko;

}
#slider-img{
    max-width: 2000px;
    max-height:700px;
}
.about-us-ar{
    direction: rtl;
}
.about-us{
    margin-bottom: 200px;
    margin-left: 1%;
}
#about-us-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
#about-us-subtitle{
    font-size: 25px;
}
#about-us-p{
    font-size:20px;
}
#about-us-img{
float: left;
width:25% ;
margin-top: -220px;


}

#Products-title{
    text-align: center;
       font-size: 50px;
       font-weight: bold;
   }
   .Products{
       margin-bottom:200px ;
       margin-left:1%;
   }
   #footer-link{
       text-decoration: none;
   }
   .social_media a{
   padding: 5px;
   font-size: 1.3em;
   }
   
   
   
